{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">¡Bienvenido!</h1>
  <p class="lead">Me gusta mucho mi profesion, lo elegi porque siento que puedo dar y enseñar las mejores virtudes a los niños a sus familias a traves del lenguaje.</p>
  <hr class="my-1">
  <p>Estoy estudiando cada dia más para ofrecer los mejor y ultimo en tendencia de fonoaudiologia a mis pacientes con el fin de mejorar su calidad de vida </p>
  <a class="btn btn-primary btn-lg" href="{{ url_for('about') }}" role="button">Leer más</a>
</div>

{% endblock%}